# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
- List popular languages for Data Science.
- Commonly used libraries by Data Scientist.
- Maths Operation in pyhton.
- Time Conversion in python.

## Some of the popular languages that Data Scientists use are:
1. Python
1. SQL
1. R
1. Java

## Some of the commonly used libraries used by Data Scientists include:
 - Pandas
 - NumPy
 - Dplyr
 - Matplotlib

| Data Science Tools |
| :-:
| Jupyter Notebook   |
| Visual Studio      |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Syed Muhammad Asad